// COLORS USED FOR EVERY FILE/COMPONENT
$custom-font: "Playfair Display", sans-serif
$custom-text-font: "Open Sans", sans-serif

$primary-text-color: #404040
$primary-search-color: #f4f4f4
$primary-background-color: #ffffff
$primary-button-color: #ffffff
$secondary-search-color: #d9d9d9
$secondary-text-color: #D9D9D9
$secondary-background-color: #222222
$third-text-color: #A5A5A5
$third-background-color: #C5C5C5

$special-color: #22222275
$special-text-color: #4D861F
$special-hover-color: #406f1a
$special-background-color: #4D861F
